body {
    margin: 0;
    height: 100vh; /* Mengatur tinggi body menjadi 100% dari viewport */
    background-image: url('/image/Dark\ Blue\ Simple\ Dark\ Tech\ and\ Gaming\ Bio-Link\ Website.png'); /* Ganti dengan path gambar Anda */
    background-size: cover; /* Mengatur gambar agar menutupi seluruh area */
    background-position: center; /* Memusatkan gambar di tengah */
    background-repeat: no-repeat; /* Tidak mengulangi gambar */
    font-family: 'Press Start 2P', cursive;
}

.container {
    padding: 20px;
    margin: 0; /* Menghapus margin agar menyatu dengan tepi */
    display: flex;
    justify-content: space-around; /* Memisahkan item dengan ruang yang sama */
    align-items: center; /* Memastikan item di tengah secara vertikal */
    font-size: 11px;
    margin-bottom: 75px; /* Pastikan ini sesuai dengan desain Anda */
}

.container a {
    text-decoration: none;
    color: white; /* Warna teks */
    padding: 10px;
}

.container a.Menu1 {
    background-color: #7e91b9; /* Latar belakang menu 1 */
    border: 2px solid #000; /* Menambahkan border */
    border-radius: 7px; /* Sudut border melengkung */
    transition: background-color 0.3s; /* Animasi perubahan latar belakang */
}

.container a.Menu1:hover {
    background-color: #6d82a2; /* Perubahan warna saat hover */
}

.main {
    font-size: 15px; /* Ukuran font yang lebih besar untuk teks utama */
    margin-left: 60px;
    color: #990000;
    text-align: left;
}

.greeting {
    color: brown;
    font-size: 15px; /* Ukuran font yang lebih besar untuk sapaan */
    margin: 10px;
}

.intro {
    color: #ffffff; /* Warna teks putih */
    font-size: 25px;
    line-height: 1.3;
    margin: 0; /* Menghapus margin agar tidak ada jarak */
    margin-bottom:10px;
}
.Skill{
    color: #000;
    font-size: 8px;
    padding: 10px;
    background-color: #7e91b9; /* Latar belakang menu 1 */
    border: 2px solid #000; /* Menambahkan border */
    border-radius: 7px; /* Sudut border melengkung */
    width: 200px;
    margin-bottom:20px;
}
.Menu{
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.Isi{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Pixelify Sans', sans-serif;
}
